@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

body {
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

/* signal styles */
.card_shadow {
  box-shadow: 2px 2px 20px -15px #363c42, -2px -2px 20px -15px #363c42;
}

 /* reusable styles */
 @layer {
    
     .flex-row-center {
        @apply flex flex-row items-center; 
     }

     .flex-col-notcenter {
        @apply flex flex-col; 
     }

     .radius {
       @apply rounded-[8px];
     }

     .small-img {
       @apply w-[60px] h-[40px] rounded-[10px] object-cover;
     }

     .item-header {
      @apply text-[14px] text-secondary font-semibold;
     }

     .price-volume {
       @apply font-bold text-[14px] lg:text-[18px] text-center;
     }
 }