@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

body {
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

/* glass bg */
.glass_bg {
  background: rgba(255, 255, 255, 0.04);
  backdrop-filter: blur(5px);
}

/* signal styles */
.card_shadow {
  box-shadow: 2px 2px 20px -15px #363c42, -2px -2px 20px -15px #363c42;
}

#drop_zone:focus {
  border: dashed 1px blue;
}

 /* reusable styles */
 @layer {
    
    .container-center {
       @apply w-[95%] mx-auto;
    }

     .flex-row-center {
        @apply flex flex-row items-center; 
     }

     .flex-col-notcenter {
        @apply flex flex-col; 
     }

     .radius {
       @apply rounded-[8px];
     }

     .small-img {
       @apply w-[60px] h-[40px] rounded-[10px] object-cover;
     }

     .item-header {
      @apply text-[14px] text-secondaryAlt font-semibold;
     }

     .price-volume {
       @apply font-bold text-[14px] lg:text-[18px] text-center;
     }

     /* create drop */
     .common_text_size_reg {
      @apply font-medium text-[6px] md:text-[8px] lg:text-[10px]; 
     }

     .common_bold {
        @apply font-bold text-[8px] md:text-[10px] lg:text-[12px]; 
     }
 }